@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
}
/* ზევითა სექცია */
header {
  color: white;
  background-color: black;
  padding: 15px;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: 0.3ms;
  margin: 40px;
}

a:hover {
  color: gray;
}
/* / dark mode / */
.dark-mode header {
  background-color: white;
  color: black;
}
.dark-mode a {
  color: black;
}
.dark-mode a:hover {
  color: grey;
}

/* ქვედა სექცია */
#header {
  text-align: center;
  padding: 0px;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("https://idsb.tmgrup.com.tr/ly/uploads/images/2021/05/30/118050.jpg")
    no-repeat center center/cover;
  height: 550px;
  color: white;
  padding: 20px;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: #444;
}
/* / dark mode / */
.dark-mode button {
  background-color: white;
  color: black;
}

.dark-mode button:hover {
  background-color: lightgray;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  width: 500px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.611);
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.bottom h4 {
  margin-bottom: 10px;
}

.bottom p {
  font-size: 16px;
  color: white;
}
svg {
  width: 50px;
  margin-bottom: 50px;
}
/* dark mode */
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .bottom {
  background-color: white;
  color: black;
}

.dark-mode .bottom p {
  background-color: white;
  color: black;
}
