/* ეს კოდი ახდენს გუგლის defult სტილების reset-ს, რათა ყველა ელემენტს ჰქონდეს ერთიანი margin და padding */
* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family ტეხსტის სტილისთვის */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #2a2929;
}

.container {
  display: flex;
  height: 100vh;
}

/* მარჯვენა სექცია */
.left-section {
  background-color: rgb(47, 47, 47);
  color: white;
  /* padding და შორება ჩემი კონტეინერის გარშემო */
  padding: 50px;
  display: flex;
  /* ვალაგებთ შიგთავსს y ღეძისთვის ანუ სვეტად */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* h1 სათაურის ზომა და აქვს დაშორება 30 px ტექსტს შორის */
.left-section h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

/* ტექსტის ზომა აქ არის 17px და 30px აქვს დაშორება ტექსტსა და ღილაკს */
.left-section p {
  font-size: 17px;
  margin-bottom: 30px;
}

.left-section button {
  background-color: red;
  color: white;
  border: none;
  /* padding აქ ქმნის სივრცეს button ში ჩაწერილ ტექსტსა და მის border შორის */
  /* ანუ 10 px ით ზემოდან და 20 ით მარჯვენა და მარცხენა მხარედან */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.left-section button:hover {
  background-color: rgb(152, 8, 8);
}

.right-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section img {
  width: 600px;
  height: 400px;
}

.nav {
  /* მშობელი ელემენტის საწყის კუთხეში ააქვს ელემენტი*/
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  gap: 65px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}